.container {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    height: auto;
    width: 800px;
    background-color: #E7EAEE;
    border-radius: 0 0 1rem 1rem;
    padding-block: 0 1rem;
    gap: .25rem;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .container {
        width: 80%;
    } 
}

.visible {
    visibility: visible;
}